<div class="mt-4">
    <h3>Thêm Khóa Học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input name="name" type="text" class="form-control" id="name">
        </div>
           <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control" id="title">
        </div>
      
         <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input name="image" type="text" class="form-control" id="image">
        </div>
      
         <div class="form-group">
            <label for="slug">Địa chỉ slug</label>
            <input name="slug" type="text" class="form-control" id="slug">
        </div>
      
         <div class="form-group">
            <label for="videoId">ID video</label>
            <input name="videoId" type="text" class="form-control" id="videoId">
        </div>
      
        <button type="submit" class="btn btn-primary">Tạo khóa học</button>
    </form>
</div>